@import "src/styles/variables";

.currentLocation {
    @include _768 {
        text-align: center;
    }
    &__place {
        @include font-style(44px, bold, uppercase);
        line-height: 54px;
    }
    &__dateInfo {
        @include font-style(24px, 600, none);
        line-height: 29px;
        &__time {
            margin-left: 18px;
        }
    }
}