@import "src/styles/variables";

.coordinates {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    &__coord {
        @include font-style(20px, 600, capitalize);
        line-height: 30px;
        text-align: right;
        @include _1280 {
            @include font-style(18px, 600, capitalize);
            line-height: 22px;
        }
    }
}


