@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

//font
$font: 'Montserrat', sans-serif;
$fontColor: white;

//buttons background
$buttonColorLight: rgba(174, 181, 185, 0.5);
$buttonColorDark: rgba(76, 82, 85, 0.5);
$buttonColorLight-hover: rgba(174, 181, 185, 0.7);
$buttonColorDark-hover: rgba(76, 82, 85, 0.7);