.header {
  height: 44px;
  width: 100%;
  overflow: visible;
    &__title {
      position: absolute;
      clip: rect(0 0 0 0);
      width: 1px;
      height: 1px;
      margin: -1px;
    }

    &__controll {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
}
