@import "src/styles/variables";

.header {
  height: $buttonsHeight;
  width: 100%;
  overflow: visible;
  @include _768 {
    height: 154px;
  }
    &__title {
      position: absolute;
      clip: rect(0 0 0 0);
      width: 1px;
      height: 1px;
      margin: -1px;
    }
    &__controll {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include _768 {
        flex-direction: column;
      }
    }
}
