@import "src/styles/variables";

@mixin form-style{
    font-family: $font;
    color: $fontColor;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    align-items: center;
    transition: all 0.5s linear;
}

.form {
    box-shadow: 2px 2px 4px 0 rgba(34, 60, 80, 0.2);
    @include height-width($buttonsHeight, $searchBarWidth);
    position: relative;
    @include _1280 {
        @include height-width($buttonsHeight, 335px);
    }
    &__inputSearch {
        @include form-style;
        @include height-width(100%, 73%);
        @include font-style(16px, normal, none);
        font-feature-settings: 'cpsp' on;
        line-height: 17px;
        display: flex;
        position: absolute;
        background-color: $buttonColorLight;
        border-right: none;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        &:hover {
            background-color: $buttonColorLight-hover;
            border: 1px solid rgba(0, 0, 0, 0.4);
            border-right: none;
        }
        &:active {
            border: 1px solid rgba(0, 0, 0, 0.6);
        }
    }
    &__buttonSearch {
        @include form-style;
        @include font-style(14px, bold, uppercase);
        @include height-width(100%, 27%);
        font-feature-settings: 'cpsp' on;
        position: absolute;
        right: 0;
        background-color: $buttonColorDark;
        border-left: none;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        &:hover {
            background-color: $buttonColorDark-hover;
            border: 1px solid rgba(0, 0, 0, 0.4);
            border-left: none;
        }
        &:active {
            border: 1px solid rgba(0, 0, 0, 0.8);
        }
    }
    &__message {
        position: absolute;
        top: 110%;
        background-color: rgba(180, 106, 106, 0.5);
        border-radius: 5px;
        box-shadow: 2px 2px 4px 0 rgba(34, 60, 80, 0.2);
        transition: all 0.5s linear;
    }
}